# macOS
.DS_Store

# Node
node_modules/

# Expo
.expo/
.expo-shared/

# Builds
dist/
ios/build/
android/build/

# iOS
ios/Pods/
ios/*.xcworkspace
ios/*.xcodeproj/project.xcworkspace
ios/.xcode.env

# Logs
*.log

# Archives
*.zip
*.mp4
*.mov

# Misc
.env
